<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="title">
      <b>PR Status</b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="container">
    <mat-label class="label">
      <b>Repository Name</b>: {{prStatus.repositoryName}}
    </mat-label>
  </div>
  <div class="container">
    <mat-label class="label">
      <b>Name</b>: {{prStatus.fromUserName}}
    </mat-label>
  </div>
  <div class="container">
    <mat-label class="label">
      <b>PR Message</b>: {{prStatus.message}}
    </mat-label>
  </div>
  <div class="container">
    <mat-label class="label">
      <b>Base Branch</b>: {{prStatus.targetBranchName}}
    </mat-label>
  </div>
  <div class="container">
    <mat-label class="label">
      <b>Target Branch</b>: {{prStatus.baseBranchName}}
    </mat-label>
  </div>
  <div class="container">
    <mat-label class="label">
      <b>Status</b>: {{prStatus.status}}
    </mat-label>
  </div>
  <div *ngIf="checkIfDeclineMessage()" class="container">
    <mat-label class="label">
      <b>Decline Message</b>: {{prStatus.declineMessage}}
    </mat-label>
  </div>
</mat-expansion-panel>