/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';

html, body { height: 100%;    
  font-family:'Times New Roman', Times, serif;
  font-size:20px;
}
body { margin: 0;
}
h1{
color: black;    
font-family: 'Times New Roman', Times, serif;
font-weight: normal;
line-height: 48px; 
margin: 0; 
font-size: 35px;
}