.pr-status-table{
    width:80%;
    float:left;
    margin-left:2%;
    max-height: 90vh;
}
.mat-column-select{
    width:50px;
    border-right:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    padding:5px !important;
}
.mat-column-id{
    text-align: center;
    border-right:1px solid #e0e0e0;;
}
.mat-column-fromUser{
    text-align: center;
    border-right:1px solid #e0e0e0;;
}
.mat-column-baseBranchName{
    text-align: center;
    border-right:1px solid #e0e0e0;;
}
.mat-column-targetBranchName{
    text-align: center;
    border-right:1px solid #e0e0e0;;
}
.mat-column-dateOfCreation{
    text-align: center;
    border-right:1px solid #e0e0e0;;
}

.mat-column-message{
    text-align: center;
    border-right:1px solid #e0e0e0;;
}

.mat-column-status{
    text-align: center;
    border-right:1px solid #e0e0e0;
    padding-right:0px !important;
}
table{
    width:100%;
}
.right-float{
    float: right;
}
h1{
    text-align: center;
}
.matInput{
    width:80%;
    height:35px;
    margin-left: 0px;
    float:left;
    border:none;
    border-bottom: 1px solid #e0e0e0;
}

.mat-input:focus{
    outline: none;
}

.float-right{
float: right;
}

.float-left{
    float:left;
}

.container{
    overflow:hidden;
}
.scroll{
    overflow: auto;
}