<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="title">
            <b>Fork Message</b>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
        <mat-label class="label">
            <b>Repository Name</b>: {{forkMessage.repositoryName}}
        </mat-label>
    </div>
    <div class="container">
        <mat-label class="label">
            <b>Name</b>: {{forkMessage.name}}
        </mat-label>
    </div>
</mat-expansion-panel>