.commit-table{
    width:80%;
    float:left;
    margin-left:2%;
    max-height: 90vh;
 }
 .mat-column-select{
     width:50px;
     border-right:1px solid #e0e0e0;
     border-left:1px solid #e0e0e0;
     padding:5px !important;
 }
 .mat-column-id{
     text-align: center;
     border-right:1px solid #e0e0e0;;
 }
 .mat-column-path{
     text-align: center;
     border-right:1px solid #e0e0e0;;
 }
 .mat-column-state{
     text-align: center;
     border-right:1px solid #e0e0e0;;
 }
 table{
     width:100%;
 }
 .right-float{
     float: right;
 }
 h1{
     text-align: center;
 }
 
 .screens{
     margin-top: 10px;
     overflow: hidden;
 }
 .first-screen{
     float:left;
     overflow: auto;
     width:45%;
 }
 
 .second-screen{
     float:right;
     overflow: auto;
     width:45%;
 }
 
 .screen-width{
     height:35vh;
 }
 .margin-bottom{
     margin-bottom: 15px;
 }
 .pre-wrap {
     white-space: pre-wrap;
 }