<mat-card class="card mat-elevation-z0">
    <h1>My Repositories</h1>
    <div class="accordion">
        <mat-accordion>
            <div *ngFor="let repository of repositoryInformation; let i = index">
                <br *ngIf="i!==0">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="title">
                            <mat-label>
                                <b>Repository Name</b>: {{repository.repositoryName}}
                            </mat-label>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="content-container">
                        <div class="container">
                            <mat-label class="label">
                                <b>Active Branch Name</b>: {{repository.activeBranchName}}
                            </mat-label>
                        </div>
                        <div class="container">
                            <mat-label class="label">
                                <b>Amount Of Branches</b>: {{repository.numberOfBranches}}
                            </mat-label>
                        </div>
                        <div class="container">
                            <mat-label class="label">
                                <b>Last Commit</b>: {{repository.lastCommit}}
                            </mat-label>
                        </div>
                        <div class="container">
                            <mat-label class="label">
                                <b>Last Commit Message</b>: {{repository.lastCommitMessage}}
                            </mat-label>
                        </div>
                    </div>
                    <button mat-stroked-button class="right blue" (click)="onClick(repository.repositoryName)">
                        Go To Repository
                    </button>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
    <br *ngIf="!isEmpty()">
    <input matInput type="text" class="input" [value]="path" disabled placeholder="File Names">
    <button mat-raised-button color="primary" class="AddButton mat-elevation-z10" (click)="onFileBrowse()">
        <mat-icon class="addIcon">attach_file</mat-icon>
        Add an XML Repository
    </button>
    <input type="file" #file style="display: none" (change)="onFilesChoose($event.target.files)" multiple />
</mat-card>